# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
|--------------------|
|  Jupter Notebook   |
|      RStudio       |
|    Google Colab    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [24]:
#This will convert 200 minutes to hours by diving by 60
min = 200
hr = min / 60
print(hr)

3.3333333333333335

**Objectives:**
- learn how to use markdown
- use arithmetic expressions
- create a table

## Author
Hussa Aldriweesh